@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin buttonStyle ($weight-left, $weight-right){
    background-color: $white;
    padding: 1em;
    border: none;
    border-right: $weight-right solid $gray;
    border-left: $weight-left solid $gray;
}

@mixin chircle {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: $chircle;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin  flexForNavigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@mixin triangleBottom {
    border-top: 6px solid #FD5670;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

@mixin triangleTop {
    border-bottom: 6px solid #A889E9;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

@mixin flexWrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin shadowAround {
   box-shadow: 0 0 5px 5px rgb(214, 213, 213);
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

