* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 10px;
}

.wrapper {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
}

.section-container {
    width: 100%;
}

