$white:#FFFFFF;
$gray: #F1F1F1;
$light-gray: #F8F8F8;
$dark-gray: #C8C8C8;
$without: none;
$chircle:#BFBFBF;
$crimson: #FC6664;
$weight-border: 2px;
$pink: #FD5272;
$yellow:#FC7858;
$dark-brown: #BFBFBF;
$orange: #FC735B;
$purple: #FD5272;
