@import './resets';
@import './variables';
@import './mixin';
@import './main.scss';

body {
    background-color: $white;
}

header {
    width: 100%;
    display: flex;
    
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 2px solid $gray;
    position: relative;
}

.icons {
    width: calc(20em + 0.5vw);
    width: 200px;
    @include flexCenter;
    button {
        height: 72px;
        @include buttonStyle($without, $weight-border);
    }
}

.header__search {
    @include flexCenter;
    width: calc(20em + 30vw);
    input {
        background-color: $light-gray;
        border: $without;
        text-transform: capitalize;
        color: $dark-gray;
        font-size: calc(11px + 0.5vw);
    }
    button {
        border: $without;
        background-color: $white;
    }
}

.search {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    width: 50%;
    background-color: $light-gray;
    border-radius: 1em;
}

.logo {
    width: 6%;
    @include flexCenter;
    box-shadow: 5px 0 8px 5px  #DADADA;
    z-index: 5;   
}

.icons-right {
    width: calc(18em + 0.5vw);
    @include flexCenter;
    button {
        @include buttonStyle($weight-border, $without);
    }    
}

.model {
    display: flex;
    justify-content: space-around;
    width: calc(14em + 5vw);
    div {
        width: 40%;
        @include flexColumn;
    }
    h5 {
        color: $crimson;
        font-size: calc(1rem + 0.25vw);
    }
    h6 {
        font-size: calc(0.8rem + 0.25vw);
        color: $dark-brown;
    }
    .chircles {
        width: 20%;
        @include flexColumn;
        align-items: flex-end;
        .chircle {
            @include chircle;
        }
    }
}


.navigation {
    @include flexForNavigation;
    justify-content: flex-start;
    width: 6%;
    height: 100vh;
    background: linear-gradient(to bottom, $orange, $purple);
    padding-top: 1.5%;
    nav {
        @include flexForNavigation;
        height: 65%;
        div {
            a {
                color:white;
                font-size: calc(1em + 0.5vw);
                text-decoration: $without;
                text-align: center;
                @include flexColumn;
            }
        }
    }
    .button {
        @include flexForNavigation;
        justify-content: flex-end;
        align-items: center;
        height: 47%;
        margin-bottom: 15%;
        button {
            background: $without;
            border: $without;
            width: 50%;
        }
    }
}

.statistics {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    right: 0;
    padding: 2em 0;
    background-color: red;
    .statistic-value {
        display: flex;
        justify-content: space-around;
        width: calc(35em + 1vw);
    }
    .number-statistic {
        @include flexColumn;
        position: relative;
         width: 50%;
        h5 {
            font-size: calc(0.5em + 0.5vw);
            color: #777777;
            font-weight: bold;
        }
        h4 {
            font-size: calc(1em + 0.7vw);
            font-weight: bold;
        }
        .statis-span{
            display: flex;
            width: 60%;
            position: relative;
            justify-content: space-around;
        }
        
        span {
            display: flex;
            justify-content: flex-end;
            font-size: calc(0.5em + 0.5vw);
            color: #BFBFBF;
            width: 3em;
            position: relative;
            &:nth-child(odd)::before {
                content: " ";
                @include triangleTop;
                position: absolute;
                left:0;
                bottom: 0.4em;
            }
            &:nth-child(even)::before {
                content: " ";
                @include triangleBottom;
                position: absolute;
                left:0;
                bottom: 0.4em;
            }
        }
    }
}

.main {
    width: calc(100% - (10em + 0.5vw));
    background-color: red;
}

@include mobile {

    .navigation {
        display: none;
    }
    .logo {
        position: absolute;
        top:0;
        right: 0;
        margin: 5%;
    }
    .model {
        width: 90%;
    }
    .icons-right {
        margin: 0 auto;
        width: 100%;
        justify-content: space-around;
        button {
            border:$without;
        }
    }
    .icons {
        width: 70%;
        justify-content: space-around;
        button {
            border:$without;
        }
    }
    .statistics {
        width: 100%;
    }
}


