* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  font-size: 10px;
}

.wrapper {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-container {
  width: 100%;
}

.main-container {
  width: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #EEEEEE;
}

main {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2%;
}

@media (max-width: 768px) {
  main {
    width: 100%;
    margin-top: 2%;
  }
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: calc(26em + 1vw);
  margin-left: 2%;
}

@media (max-width: 768px) {
  .article {
    width: 100%;
    margin-top: 2%;
    margin-left: 0;
  }
}

.chart {
  background-color: black;
  width: 65%;
  height: 300px;
  font-size: calc(12px + 0.5vw);
  -webkit-box-shadow: 0 0 5px 5px #d6d5d5;
          box-shadow: 0 0 5px 5px #d6d5d5;
}

@media (max-width: 768px) {
  .chart {
    width: 100%;
    margin-top: 2%;
  }
}

.indicator {
  background-color: black;
  width: calc(266px + 0.5vw);
  height: 300px;
  font-size: calc(12px + 0.5vw);
  -webkit-box-shadow: 0 0 5px 5px #d6d5d5;
          box-shadow: 0 0 5px 5px #d6d5d5;
}

@media (max-width: 768px) {
  .indicator {
    width: 50%;
    margin-top: 2%;
  }
}

article {
  background-color: orange;
  width: 100%;
  height: 800px;
}

@media (max-width: 768px) {
  article {
    width: 100%;
    margin-top: 2%;
  }
}

.customers {
  background-color: black;
  width: 40%;
  height: 400px;
  margin-top: 0;
  -webkit-box-shadow: 0 0 5px 5px #d6d5d5;
          box-shadow: 0 0 5px 5px #d6d5d5;
}

@media (max-width: 768px) {
  .customers {
    width: 100%;
    margin-top: 2%;
  }
}

.task-container {
  width: calc(50em + 1vw);
  height: 400px;
  background-color: cyan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 0 5px 5px #d6d5d5;
          box-shadow: 0 0 5px 5px #d6d5d5;
}

@media (max-width: 768px) {
  .task-container {
    width: 100%;
    margin-top: 2%;
  }
}

.task {
  background-color: black;
  width: 100%;
  height: 250px;
  font-size: calc(12px + 0.5vw);
  -webkit-box-shadow: 0 0 5px 5px #d6d5d5;
          box-shadow: 0 0 5px 5px #d6d5d5;
}

.progress {
  width: 48%;
  background-color: black;
  height: 100px;
  margin-left: 2%;
  -webkit-box-shadow: 0 0 5px 5px #d6d5d5;
          box-shadow: 0 0 5px 5px #d6d5d5;
}

.shipments {
  width: 48%;
  background-color: black;
  height: 100px;
  margin-left: 2%;
  -webkit-box-shadow: 0 0 5px 5px #d6d5d5;
          box-shadow: 0 0 5px 5px #d6d5d5;
}
/*# sourceMappingURL=main.css.map */