@import './resets';
@import './variables';
@import './mixin';

body {
    background-color: $white;
}

header {
    width: 100%;
    display: flex;
    
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 2px solid $gray;
}

.icons {
    width: calc(20em + 0.5vw);
    width: 200px;
    @include flexCenter;
    button {
        height: 72px;
        @include buttonStyle($without, $weight-border);
    }
}

.header__search {
    @include flexCenter;
    width: calc(10em + 30vw);

    input {
        background-color: $light-gray;
        border: $without;
        text-transform: capitalize;
        color: $dark-gray;
        font-size: calc(11px + 0.5vw);
    }
    button {
        border: $without;
        background-color: $white;
    }
}

.search {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    width: 50%;
    background-color: $light-gray;
    border-radius: 1em;
}

.logo {
    width: calc(7em + 0.5vw);
    @include flexCenter;
}

.icons-right {
    width: calc(18em + 0.5vw);
    @include flexCenter;
    button {
        @include buttonStyle($weight-border, $without);
    }    
}

.model {
    display: flex;
    justify-content: space-around;
    width: calc(20em + 5vw);
    div {
        width: 50%;
        @include flexColumn;
    }
    h5 {
        color: $crimson;
        font-size: calc(1rem + 0.25vw);
    }
    h6 {
        font-size: calc(0.8rem + 0.25vw);
        color: $dark-brown;
    }
    .chircles {
        width: 20%;
        @include flexColumn;
        align-items: flex-end;
        .chircle {
            @include chircle;
        }
    }
}


.navigation {
    @include flexForNavigation;
    justify-content: flex-start;
    width: calc(7em + 0.5vw);
    height: 90vh;
    background: linear-gradient(to bottom, $orange, $purple);
    padding-top: 5%;
    nav {
        @include flexForNavigation;
        height: 65%;
        div {
            a {
                color:white;
                font-size: calc(1em + 0.5vw);
                text-decoration: $without;
                text-align: center;
                @include flexColumn;
            }
        }
    }
    .button {
        @include flexForNavigation;
        justify-content: flex-end;
        align-items: center;
        height: 47%;
        button {
            background: $without;
            border: $without;
            width: 50%;
        }
    }
}
@include mobile {

    .navigation {
        display: none;
    }
    .logo {
        position: absolute;
        top:0;
        right: 0;
        margin: 5%;
    }
    .model {
        width: 90%;
    }
    .icons-right {
        margin: 0 auto;
        width: 100%;
        justify-content: space-around;
        button {
            border:$without;
        }
    }
    .icons {
        width: 70%;
        justify-content: space-around;
        button {
            border:$without;
        }
    }
}


